.env
/Users/adithyasn7gmail.com/Desktop/PFW/projects/MIE_project/RAG_Medical_ChatBot/Chatbot-MCP/client/node_modules
/Users/adithyasn7gmail.com/Desktop/PFW/projects/MIE_project/RAG_Medical_ChatBot/Chatbot-MCP/client/build
node_modules
build